.x-table-layout {
    padding: 20px 0 0 20px;
}

.btn {
    background-color: #ececec !important;
}
.btn:hover {
    background-color: #c1c1c1 !important;
}

.btn-orange{
    background-color: #D07B32 !important;
}
.btn-orange:hover {
    background-color: #a77448 !important;
}

.btn-green {
    background-color: #A1C9AC !important;
}
.btn-green:hover {
    background-color: #5caa93 !important;
}

.btn,
.btn.x-btn-focus.x-btn-default-small {
    background-color: #E0E0E0;
}

.btn-orange,
.btn-orange.x-btn-focus.x-btn-default-small {
    background-color: #F5923E;
}

.btn-green,
.btn-green.x-btn-focus.x-btn-default-small {
    background-color: #AFDCBB;
}

.x-btn-focus.x-btn-default-small,
.x-btn-focus.x-btn-over.x-btn-default-small {
    box-shadow: none;
}

.btn-orange span,
.display div {
    color: #FFFFFF !important;
}

.display {
    background-color: #69787F;
    padding: 0px !important;
}

.btn span,
.btn-orange span,
.btn-green span {
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.btn-orange,
.btn,
.display,
.btn-green {
    border-radius: 0;
    border-color: #89898C;
    border-width: 0.5px;
}

.display div {
    font-size: 26px;
    line-height: 32px;
    text-align: right;
    padding-right: 5px;
    padding-top: 10px;
}

td div {
    margin-bottom: 0px !important;
}

.x-window-header-default-top {
    padding: 0px !important;
    top: 0px !important;
    left: 0px !important;
}

/*  Chapter 4   */
.hidden {
    visibility: hidden;
}

.row:hover .hidden {
    visibility: visible;
    color: white;
}

.btn-orange,
.btn-orange.x-btn-focus.x-btn-default-small {
    background-color: #F5923E;
    border-color: #F5923E;
    box-shadow: none;
}

.btn-orange.x-btn-over.x-btn-default-small {
    border-color: #BE702E;
    background-color: #BE702E;
}

.row:hover {
    background-color: #92A7B1;
    color: white;
    font-weight: 800;
}

.row a,
.row div {
    background-color: transparent;
    /*    color: black;*/
}

.row a:hover,
.row div:hover {
    color: white;
}

.row,
.task-entry-panel {
    padding: 10px;
    border-bottom: none;
}

.x-form-text-default {
    height: 30px;
}

.task-entry-panel .x-btn-default-small {
    height: 32px;
}

.task-entry-panel {
    background-color: #69787F;
    padding-bottom: 20px;
}

.main {
    background-color: #EEEEF1;
    padding: 20px;
}

/*  Album & Pictures    */
div.thumb{
    float: left;
}

.x-toolbar.x-docked {
    background-color: #BBACF0;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}
.tree .x-tree-node-text {
    font-weight: 400;
    font-size: 14px;
    color: #BBACF0;
}

.btn-blue,
.btn-blue.x-btn-focus.x-btn-default-small {
    background-color: #5174E7;
    border-color: #5174E7;
    box-shadow: none;
}

.btn-blue.x-btn-over.x-btn-default-small,
.x-btn-default-small.x-item-disabled.x-btn-disabled {
    border-color: #435FBD;
    background-color: #435FBD;
}


.pics-list {
    background-color: white;
    padding: 0px 10px 10px 10px;

}
.pics-list-content{
    padding: 10px;
    border-left: 0px !important;
}

.header {
    background-color: mediumpurple;
    color: white;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
}

.tree, .pics-list-content {
    border: 2px solid #BBACF0;
}

.thumb {
    width:150px;
    height: 150px;
    overflow: hidden;
}

img {
    width:150px;
    height: auto;
    padding: 3px;
}