.user-item
{
    float: left;
    width: 100px;
    text-align: center;
    margin: 20px;

    img
    {
        width: 100%;
    }

    .name
    {
        font-size: 1.2em;
        font-weight: bold;
    }

    .role
    {
        font-size: 0.8em;
        color: #CCC;
    }
}